name: clang-tidy

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        configuration: [Debug, Release]
    steps:
    - uses: actions/checkout@v3
    - name: install dependencies
      run: sudo apt-get update && sudo apt-get install -y libsdl2-dev libfreetype-dev
    - name: configure
      run: CXX=clang++-14 cmake -Werror=dev -D CMAKE_BUILD_TYPE=${{ matrix.configuration }} -D CMAKE_EXPORT_COMPILE_COMMANDS=1 -D CMAKE_DISABLE_PRECOMPILE_HEADERS=1 -B build
    - name: run clang-tidy
      run: run-clang-tidy-14 Source/ -p build/
