name: IWYU

on: workflow_dispatch

jobs:
  linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: configure
      run: cmake -Werror=dev -D CMAKE_BUILD_TYPE=Release -D CMAKE_EXPORT_COMPILE_COMMANDS=1 -B build
    - name: include what you use
      uses: danielkrupinski/include-what-you-use-action@master
      with:
        compilation-database-path: './build/'
        no-error: 'true'
